/* .sidebar-nav {
  padding: 20px;
  list-style: none;
  height: 100vh;
  background-color: #9fd3c7;
  font-size: 16px;
} */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  list-style: none;
  height: 100vh;
  background-color: #9fd3c7;
  font-size: 16px;
}

.sidebar-nav,
.sidebar-links {
  list-style: none;
}

a, a:hover {
  color: #385170;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #142d4c;
}

.col-sm-2 {
  margin: 0;
  padding: 0;
}

.col-sm-10 {
  background-color: #ececec;
}

.detail-image {
  max-width: 256px;
}

.link {
  display: flex;
  gap: 4px;
  margin: 4px 0;
}

.link > p {
  margin: 0;
  align-content: center;
}

.link-icon {
  max-width: 24px;
}